# api id and api hash (my.telegram.org)
# required
API_ID='10738943'
API_HASH='da61e3a08b5ac78ce28b4a4cd854aeec'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQAcFQMhedsqc4nCpbpSh_9Jcz37fcQxuFJhnMGT48PqcW2JXpXGuEX9tVURhFV8dwzBBNfWmoKUYVoXM4EBsbMdhsk9SCBNvc24jAlkUu_GAij4QIXo1GcGLcYFCWQjKO_3ptCpvmquwKeeafpl9hLFZcLbPCkxA0Y170qtZ4qpytuOrGxHiF0Ql2mygRuoRIe89BiGeqwQa46vT5JkCNuogvhA7Xn'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN=''6009111407:AAGfId8nCk6BRQdq1cR4Bo1LUQPMqSjLZ68

# sudo user ids (separate with space)
# optional
SUDOERS=''

# command prefix (separate with space)
# optional
PREFIX='/'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
